<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
	"-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 因为mybatis读取出来的数据为空时，类型为other，所以需要配置为NULL -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<!-- 
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/dssims?serverTimezone=UTC"/>
				<property name="username" value="root"/>
				<property name="password" value="xuelei123"/>
			</dataSource>
		</environment> 
	
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521/lizi"/>
				<property name="username" value="SYSTEM"/>
				<property name="password" value="Xuelei123"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cn/dlian/entities/AdministratorMapper.xml" />
	</mappers>-->
</configuration>