<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<!-- namespace作用是找到当前映射文件中的某个具体语句，其值唯一 -->
<mapper namespace="cn.dlian.entities.MedicineMapper">
	<insert id="addMedicine" parameterType="cn.dlian.entities.Medicine">
		insert into medicine values(default,#{name},#{type},#{price},#{productionDate},#{qualityGuaranteePeriod})
	</insert>
	
	<delete id="deleteMedicine" parameterType="int">
		delete from medicine where M_ID = #{id}
	</delete>
	
	<update id="updateMedicine" parameterType="cn.dlian.entities.Medicine">
		update medicine set 
		<if test="name!=null">M_NAME=#{name}</if>
		<if test="type!=null">,M_TYPE=#{type}</if>
		<if test="price!=null">,M_PRICE=#{price}</if>
		<if test="productionDate!=null">,M_PRODUCTION_DATE=#{productionDate}</if>
		<if test="qualityGuaranteePeriod!=null">,M_QUALITY_GUARANTEE_PERIOD=#{qualityGuaranteePeriod}</if>
		where M_ID = #{id}
	</update>
	
	<resultMap id="medResultMap" type="cn.dlian.entities.Medicine">
		<id property="id" column="M_ID" />
		<result property="name" column="M_NAME"/>
		<result property="type" column="M_TYPE"/>
		<result property="price" column="M_PRICE"/>
		<result property="productionDate" column="M_PRODUCTION_DATE"/>
		<result property="qualityGuaranteePeriod" column="M_QUALITY_GUARANTEE_PERIOD"/>
	</resultMap>
	
	<select id="queryMedicine" parameterType="int" resultMap="medResultMap">
		select * from medicine where M_ID = #{mid}
	</select>
	
	<select id="fuzzyQuery" parameterType="string" resultMap="medResultMap">
		select * from medicine where M_NAME like #{msg} or M_TYPE like #{msg}
	</select>
</mapper>